ul.navbar-nav>li>a {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    
}

ul.navbar-nav>li.nav-item.dropdown>.dropdown-menu>a {
    letter-spacing: 0.15rem;
}

.list-unstyled li {
    padding: 1.5rem;
    border-bottom: 1px solid #343a40;
}

.list-unstyled li a {
    color: aliceblue;
    text-decoration: none;
}

.list-unstyled li a:hover {
    color: #323232;
}

/*kod za galeriju*/

.photo-gallery {
    color: #323232;
    background-color: #fff;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}


.pozadina {
    background-color:#00968f
}

.dnopozadine {
    color: rgba(1, 2, 2, 0);
}

.kartice {
    background-color:#00968f;
    
}

.onama2 {
    font-size: 24px;
}
 .item img {
    height: 300px;
    width: 500px;
 }

body {
    overflow-x: hidden;
}

.belaslova {
    color: aliceblue;
}

.mapasajta li a {
    text-decoration: none;
    color: aliceblue;
font-size: 30px;
}

.mapasajta li a:hover {
    color: #323232;
}

.ikonice .nav-item a {
    color: #00968f;
    font-size: 25px;
}

.ikonice:hover {
    opacity: 0.6;
}
